div {
    display: flex;
}

aside {
    flex: 2;
}

main {
    flex: 6;
}

nav {
    display: flex;
    justify-content: space-around;
}

nav div:not(:first-child){
    border: 1px solid black;
    padding: 10px;
    height: 11px;
}

aside {
    flex-direction: column;
}